In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("training_ccpp_x_y_train.csv")

In [3]:
data.shape

(7176, 5)

In [4]:
data.columns

Index(['# T', ' V', ' AP', ' RH', ' EP'], dtype='object')

In [5]:
data.describe()

               # T            V           AP           RH           EP
count  7176.000000  7176.000000  7176.000000  7176.000000  7176.000000
mean     19.629712    54.288154  1013.263032    73.275818   454.431293
std       7.475256    12.751468     5.964863    14.625093    17.134571
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.470000    41.740000  1009.010000    63.202500   439.737500
50%      20.315000    52.050000  1012.910000    74.895000   451.740000
75%      25.720000    66.540000  1017.302500    84.925000   468.667500
max      35.770000    81.560000  1033.300000   100.160000   495.760000

In [6]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [8]:
type(x)

numpy.ndarray

In [9]:
def gd(x, y, learning_rate, number_of_iterations):
    slopes = np.zeros(x.shape[1]+1)
    new_slopes = np.zeros(x.shape[1]+1)
    for i in range(number_of_iterations):
        for j in range(len(slopes)):
            new_slopes[j] = slopes[j] - learning_rate*step_gradient(x,y,slopes,j)
        slopes = new_slopes
        print(i,"th iteration with cost ",cost(x,y,slopes))
    return slopes

In [10]:
def step_gradient(x, y, slopes, j):
    M = len(x)
    N = len(slopes)
    if j==(N-1):
        change = 0
        for i in range(M):
            pred = 0
            for k in range(N-1):
                pred += slopes[k]*x[i, k]
            pred += slopes[N-1]
            change += (-2/M) * (y[i] - pred)*1
        return change
    else:
        change = 0
        for i in range(M):
            pred = 0
            for k in range(N-1):
                pred += slopes[k]*x[i, k]
            pred += slopes[N-1]
            change += (-2/M) * (y[i] - pred)*x[i, j]
        return change

In [11]:
def cost(x, y, slopes):
    N = len(slopes)
    M = len(x)
    total_cost = 0
    for i in range(M):
        pred = 0
        for j in range(N-1):
            pred += slopes[j]* x[i,j]
        pred += slopes[N-1]
        total_cost += (y[i] - pred)**2
    return total_cost

In [12]:
def run(x, y):
    learning_rate = 0.5
    number_of_iterations = 100
    return gd(x, y, learning_rate, number_of_iterations)

In [13]:
slopes = run(x, y)

0 th iteration with cost  3912029.7189101693
1 th iteration with cost  645142.1432466585
2 th iteration with cost  419985.9338275165
3 th iteration with cost  310173.28962221334
4 th iteration with cost  249299.4545514008
5 th iteration with cost  212737.225595226
6 th iteration with cost  189957.67017880085
7 th iteration with cost  175540.8451616579
8 th iteration with cost  166356.1268143608
9 th iteration with cost  160488.4246375661
10 th iteration with cost  156735.4453310814
11 th iteration with cost  154333.86892234266
12 th iteration with cost  152796.75665398806
13 th iteration with cost  151812.8541680257
14 th iteration with cost  151183.03748540246
15 th iteration with cost  150779.87249121844
16 th iteration with cost  150521.79256826156
17 th iteration with cost  150356.58620296465
18 th iteration with cost  150250.83146942066
19 th iteration with cost  150183.1339030394
20 th iteration with cost  150139.79814646463
21 th iteration with cost  150112.0572976823
22 th iteration with cost  150094.29933570413
23 th iteration with cost  150082.93179534402
24 th iteration with cost  150075.6550045273
25 th iteration with cost  150070.9968565873
26 th iteration with cost  150068.01500060214
27 th iteration with cost  150066.10620224744
28 th iteration with cost  150064.88430850787
29 th iteration with cost  150064.10212829194
30 th iteration with cost  150063.60142526717
31 th iteration with cost  150063.28090639747
32 th iteration with cost  150063.0757301944
33 th iteration with cost  150062.9443891765
34 th iteration with cost  150062.86031284268
35 th iteration with cost  150062.8064924142
36 th iteration with cost  150062.77203992996
37 th iteration with cost  150062.74998559634
38 th iteration with cost  150062.73586778718
39 th iteration with cost  150062.7268304463
40 th iteration with cost  150062.7210453028
41 th iteration with cost  150062.71734201553
42 th iteration with cost  150062.71497140086
43 th iteration with cost  150062.71345388156
44 th iteration with cost  150062.71248246077
45 th iteration with cost  150062.71186061675
46 th iteration with cost  150062.71146255117
47 th iteration with cost  150062.71120773524
48 th iteration with cost  150062.71104461717
49 th iteration with cost  150062.7109401991
50 th iteration with cost  150062.7108733581
51 th iteration with cost  150062.71083056988
52 th iteration with cost  150062.71080317913
53 th iteration with cost  150062.71078564652
54 th iteration with cost  150062.71077442222
55 th iteration with cost  150062.71076723703
56 th iteration with cost  150062.71076263863
57 th iteration with cost  150062.71075969364
58 th iteration with cost  150062.71075780896
59 th iteration with cost  150062.71075660246
60 th iteration with cost  150062.7107558303
61 th iteration with cost  150062.71075533674
62 th iteration with cost  150062.7107550195
63 th iteration with cost  150062.71075481706
64 th iteration with cost  150062.7107546875
65 th iteration with cost  150062.7107546039
66 th iteration with cost  150062.71075455102
67 th iteration with cost  150062.71075451752
68 th iteration with cost  150062.7107544957
69 th iteration with cost  150062.71075448173
70 th iteration with cost  150062.7107544725
71 th iteration with cost  150062.71075446694
72 th iteration with cost  150062.71075446293
73 th iteration with cost  150062.7107544608
74 th iteration with cost  150062.71075445894
75 th iteration with cost  150062.71075445847
76 th iteration with cost  150062.71075445772
77 th iteration with cost  150062.71075445786
78 th iteration with cost  150062.71075445673
79 th iteration with cost  150062.71075445792
80 th iteration with cost  150062.71075445655
81 th iteration with cost  150062.71075445678
82 th iteration with cost  150062.710754457
83 th iteration with cost  150062.71075445623
84 th iteration with cost  150062.71075445667
85 th iteration with cost  150062.71075445594
86 th iteration with cost  150062.71075445652
87 th iteration with cost  150062.7107544566
88 th iteration with cost  150062.71075445705
89 th iteration with cost  150062.71075445705
90 th iteration with cost  150062.71075445687
91 th iteration with cost  150062.71075445597
92 th iteration with cost  150062.7107544562
93 th iteration with cost  150062.71075445722
94 th iteration with cost  150062.71075445678
95 th iteration with cost  150062.71075445585
96 th iteration with cost  150062.71075445603
97 th iteration with cost  150062.71075445693
98 th iteration with cost  150062.71075445708
99 th iteration with cost  150062.71075445623

In [14]:
for i in range(len(slopes)):
    print("Slope for ",i,"th feature is ",slopes[i])

Slope for  0 th feature is  -14.902729349146272
Slope for  1 th feature is  -2.894278190331993
Slope for  2 th feature is  0.3497399626058934
Slope for  3 th feature is  -2.3423017156961077
Slope for  4 th feature is  454.4312931995541

In [15]:
def predict(x, slopes):
    pred = np.zeros(len(x))
    for i in range(len(x)):
        this_pred = slopes[len(slopes)-1]
        for j in range(len(slopes)-1):
            this_pred += slopes[j]* x[i,j]
        pred[i] = this_pred
    return pred

In [16]:
x_test = pd.read_csv("test_ccpp_x_test.csv")

In [17]:
x_test = scaler.transform(x_test)
y_pred = predict(x_test,slopes)

In [18]:
np.savetxt("gradient_descent_problem_2_predictions.csv",y_pred,delimiter=",")